body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: maroon;
  color: white;
  padding: 10px 0;
  text-align: center;
}

main {
  padding: 20px;
}

.container-info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.info-box {
  background-color: #f2f2f2;
  border: 1px solid maroon;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: calc(25% - 40px);
  box-sizing: border-box;
  cursor: pointer;
}

.info-box h2 {
  color: maroon;
  margin-top: 0;
  font-size: 1.2em;
  border-bottom: 1px solid maroon;
  padding-bottom: 5px;
}

.details-and-picture {
  display: flex;
  align-items: center;
}

.picture-box {
  width: 80px;
  height: 80px;
  background-color: #ccc;
  margin-left: 10px;
  border: 1px solid maroon;
  border-radius: 5px;
}

.details {
  flex-grow: 1;
}

.details p {
  margin: 5px 0;
  font-size: 1em;
}
.search-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

.search-container input[type="text"] {
  width: 250px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
